<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zzb.grade.mapper.MajorMapper">
    <resultMap id="BaseResultMap" type="cn.zzb.grade.entity.Major">
        <id column="zzb_MajorID" property="majorId" jdbcType="VARCHAR"/>
        <result column="zzb_MajorName" property="majorName" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>
